---
layout: default
---
<div>
<!-- 添加分类的名称
  {% for category in site.categories %}
    <p>{{ category | first }}</p>
  {% endfor %}
-->
  <ul>
    {% for category in site.categories %}
    <li>{{ category | first }}
      <ul>
        {% for post in category.last %}
        <li>
            <!-- a href="/cprogramming/教案/{{ post.file }}" -->
            {{ post.date | date:"%d/%m/%Y" }}
            <a href="{{ site.BaseURL }}{{ post.url }}">
              {{ post.title }}
            </a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
