---
permalink: /作业
layout: none
title: 作业
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

</head>

<body>
    <div class=header>
    </div>

    <div class="contnet wrapper" style="width: 100%">
      <ul>
        {% for category in site.categories %}
        <li>{{ category | first }}
          <ul>
            {% for post in category.last %}
            <li>
                <!-- a href="/cprogramming/教案/{{ post.file }}" -->
                {{ post.date | date:"%d/%m/%Y" }}
                <a href="{{ site.BaseURL }}{{ post.url }}">
                  {{ post.title }}
                </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>

</body>

</html>
